$text-color: #839496;
$general-bg: #0A2833;
$light-bg: lighten($general-bg, 3%);
$focus-bg: darken($general-bg, 3%);
$highlight: #308BD2;
$more-highlight: #EEFF00;
$success: #85992B;
$guessed-input-color: $text-color;
$cell-size: 1.5em;
$cell-padding: $cell-size/6;
$outer-border-style: 4px solid lighten($general-bg, 3%);
$inner-border-style: 4px solid lighten($general-bg, 3%);

body {
  background: $general-bg;
  color: $text-color;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-size: 120%;
  line-height: 1;
  margin: 0;
  padding: 0;
}
body > footer {
  bottom: 10px;
  right: 10px;
  font-family: 'Source Code Pro', monospace;
  font-size: 60%;
  position: absolute;

  img { vertical-align: middle;}
}
h1 {
  font-size: $cell-size*2;
  text-align: center;
}
*::selection {
  background: transparent;
  color: $more-highlight;
}
#sudoku-board {
  border: $outer-border-style;
  border-collapse: collapse;
  table-layout: fixed;
  margin: $cell-size auto;

  td {
    //box-sizing: border-box;
    padding: $cell-padding;
  }

  td:nth-child(1n + 2),
  td:first-child {
    padding-left: $cell-padding*2;
  }

  td:nth-child(3n) {
    border-right: $inner-border-style;
    padding-right: $cell-padding*2;
  }

  tr:nth-child(1n + 2) td,
  tr:first-child td {
    padding-top: $cell-padding*2;
  }

  tr:nth-child(3n) td {
    border-bottom: $inner-border-style;
    padding-bottom: $cell-padding*2;
  }

  input {
    background: $light-bg;
    border: none;
    border-radius: 3px;
    color: $guessed-input-color;
    height: $cell-size;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-size: $cell-size;
    font-weight: 500;
    text-align: center;
    width: $cell-size;

    &:disabled {
      color: $highlight;
      //background: lighten($general-bg, 2%);
    }

    &:focus {
       background: $focus-bg;
       color: $more-highlight;
       outline: none;
       outline: $text-color solid $cell-padding/2;
       outline-offset: 0;
       //box-shadow: 4px 4px 0px 0px $text-color, -4px -4px 0px 0px $text-color;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
