$text-color: #839496;
$general-bg: #0A2833;
$light-bg: lighten($general-bg, 3%);
$focus-bg: darken($general-bg, 3%);
$highlight: #308BD2;
$more-highlight: #EEFF00;
$success: #85992B;
$guessed-input-color: $text-color;
$cell-size: 1.5em;
$cell-padding: $cell-size/6;
$outer-border-style: 4px solid lighten($general-bg, 3%);
$inner-border-style: 4px solid lighten($general-bg, 3%);
$mono: 'Source Code Pro', monospace;
$regular: 'Helvetica Neue', arial, sans-serif;

body {
  background: $general-bg;
  color: $text-color;
  font-family: $regular;
  font-size: 120%;
  line-height: 1;
  margin: 0;
  padding: 0;
}
body > footer {
  bottom: 1rem;
  right: 1rem;
  text-align: right;
  font-family: $mono;
  font-size: 60%;
  position: absolute;

  img { vertical-align: middle;}
}
.hidden {
  visibility: hidden;
}
.shown {
  visibility: visible;
}
#timer {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: $mono;
  font-size: 2em;
  text-align: right;
}
.player-label {
  font-family: $regular;
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}
#player {
  @extend .player-label;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
#title {
  font-family: $mono;
  font-weight: 400;
  margin: 0;
  position: absolute;
  text-align: center;
  transition: left .3s linear, top .5s ease .3s, font-size .5s ease .3s;

  &.small {
    left: 1rem;
    font-size: 1rem;
    top: calc(100% - 3rem);
    transform: none;
  }
  &.big {
    font-size: 3em;
    text-align: center;
    left: 50%;
    top: 4rem;
    transform: translateX(-50%);
  }
}
.main-message {
  left: 50%;
  width: 60%;
  max-width: 640px;
  position: absolute;
  transform: translateX(-50%);
  top: 9rem;

  p {
    font-family: $mono;
    font-size: 2.5rem;
    text-align: center;
  }
}
.main-action {
  left: 50%;
  position: absolute;
  top: 20rem;
  transform: translateX(-50%);
}
#player-inputs {
  div {
    min-width: 200px;
    width: calc(50% - 4rem);
    float: left;
    padding: 2rem;
  }
}
.standard-label {
  font-family: $mono;
  font-size: .75em;
}
.big-input {
  background: transparent;
  border: none;
  border-bottom: $outer-border-style;
  color: white;
  font-family: $regular;
  font-size: 2.5rem;
  padding: 1rem 0;
  display: block;
  width: 100%;

  &:focus {
    outline: none;
  }
}
.countdown {
  display: block;
  margin: 2rem auto;
}
.big-button {
  @extend .countdown;
  background: $highlight;
  border: none;
  color: white;
  cursor: pointer;
  font-family: $regular;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background: darken($highlight, 10%);
  }
  &:focus {
    outline: none;
    background-color: $more-highlight;
    color: $general-bg;
  }
}

h1 {
  font-size: $cell-size*2;
  text-align: center;
}
*::selection {
  background: $more-highlight;
  color: $general-bg;
}
#sudoku-board {
  border: $outer-border-style;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 6rem auto;

  td {
    //box-sizing: border-box;
    padding: $cell-padding;
  }

  td:nth-child(1n + 2),
  td:first-child {
    padding-left: $cell-padding*2;
  }

  td:nth-child(3n) {
    border-right: $inner-border-style;
    padding-right: $cell-padding*2;
  }

  tr:nth-child(1n + 2) td,
  tr:first-child td {
    padding-top: $cell-padding*2;
  }

  tr:nth-child(3n) td {
    border-bottom: $inner-border-style;
    padding-bottom: $cell-padding*2;
  }

  input {
    background: $light-bg;
    border: none;
    border-radius: 3px;
    color: $guessed-input-color;
    height: $cell-size;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-size: $cell-size;
    font-weight: 500;
    text-align: center;
    width: $cell-size;

    &:disabled {
      color: $highlight;
      //background: lighten($general-bg, 2%);
    }

    &:focus {
       background: $focus-bg;
       color: $more-highlight;
       outline: none;
       outline: $text-color solid $cell-padding/2;
       outline-offset: 0;
       //box-shadow: 4px 4px 0px 0px $text-color, -4px -4px 0px 0px $text-color;
    }
  }

  .has-error {
    color: red;
    animation-name: blinker;
	  animation-duration: .6s;
	  animation-iteration-count: 3;
	  animation-timing-function:ease-in-out;
	  animation-direction: alternate;
    animation-fill-mode: backwards;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@-webkit-keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}
